.sendContainer{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sendButton {
    background-color: #4E3CC8;
    padding: 2vh 1vh;
    border-radius: 32px;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40vh;
    outline: none;
    border: none;
    box-shadow: 0px 2px 6px #4E3CC8;
    position: relative;
    &-text {
      transition: transform 200ms ease;
      &.loading:after {
        overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
      }
    }
    i {
      font-size: 1.8rem;
    }
    
    .icon-send {
      margin-right: 10px;
      transition: 400ms ease;
    }
    .icon-check {
      margin-right: 10px;
      opacity: 0;
      position: absolute;
      left: 60px;
      transform: translateY(-80px);
      transition: 200ms ease;
      
    }
    
  }
  
  .notransition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  
  
  @keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    // -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    // -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    // font-feature-settings: 'liga';
  }